<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="">
    <script src="https://kit.fontawesome.com/3a218d1933.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
    <title> Search</title>
</head>
<body>
    <main>
    <h1 id="movie-title">Christmas Movie Finder </h1>
<form>
    <input type="text">
    <button>Search</button>
</form>
    <p id="message"></p>
    <ul id="recommedation-list"></ul>
    <footer>
    <div class="footer-container">
        <p class="copy"> Movie Finder Copyright &copy; 2024; Designed by Khalia Howard</p>
        <div class="social-icons">
            <a class="anchor" href="https://www.facebook.com/people/Khalia-Howard/pfbid0PbYdbg5xGbdY38rLuC7x8RV283LWDJyK9DJDqpAkWY7W3YMGGEomScTm2JQ2FfDRl/"><i class="fa-brands fa-facebook"></i></a>
            <a class="anchor" href="https://www.instagram.com/khaliahoward.m/"><i class="fa-brands fa-instagram"></i></a>
            <a class="anchor" href="https://www.linkedin.com/in/khaliahoward/"><i class="fa-brands fa-linkedin"></i></a>
            <a class="anchor" href="https://github.com/kkhhaalliiaa?tab=repositories"><i class="fa-brands fa-github"></i></a>
        </div>
    </div>
</footer>

    <script type="module" src="/js/app.js"></script>
    </main>
</body>
</html>